*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.app{
    width: 1000px;
}
header{
    background-color: aquamarine;
}
header h1{
    color: brown;
}
main{
    background-color: fuchsia;
    height: 100vh;
}
i{
    color: blue;
    margin-right: .5rem;
}
ul.todo-list{
    padding: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: greenyellow;
}
ul.todo-list li span{
    margin-right: 2rem;
    color: mediumslateblue;
    background-color: white;
}
ul.todo-list li{
    margin-bottom: 1rem;
}
header,
div.list-container,
section.listInput{
    text-align: center;
}

.done{
    text-decoration: line-through;
}

div.list-container{
    margin-bottom: 2rem;
}

section.listInput{
    font-size: 20px;
}
section.listInput i{
    margin-left: 2rem;
}
section.listInput label{
    margin-right: 2rem;
    color: yellow;
}