<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- JS-Vue-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <h1>JS ToDoList</h1>
        </header>
        
        <div class="list-container">
            <ul class="todo-list">
                <li v-for="(item , index)  in todoList">
                <span :class="(item.done === true) ? 'done' : '' " @click="invertDone(index)">{{item.text}}</span>
                <i @click="removeText(index)">PREMI</i>
                </li>
            </ul>
        </div>
        <section class="listInput">
            <label for="new-list-El">Type something to do</label>
            <input type="text"  id="new-list-El" v-model="newText">
            <button  @click="addNewEl(newText)">Add to list</button>
        </section>
    </div>
    
    <!-- JS -->
    <script src="./js/script.js"></script>
</body>
</html>